
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;

    
    background: url("https://st.depositphotos.com/1325564/4463/i/450/depositphotos_44631625-stock-photo-tea-service.jpg") no-repeat center/cover
    
}


.hero {
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
}

.nav-menu a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: white;
    color: black;
    text-decoration: none;
    border-radius: 8px;
}

.product-container {
justify-content: center;
flex-wrap: wrap;
gap:15px ;
    padding: 20px;
color: black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

}

.product-card {
 
    background-color: white;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
h2{
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color:#b8ffc1
}
